{% extends 'base.html' %} {% block title %}Startseite{% endblock %} {% block
content %}
<main>
  <div
    class="flex min-h-screen max-w-3xl mx-auto flex-col font-mono gap-4 p-4 sm:p-24"
  >
    <h1 class="text-xl mb-4">Kiezbox Notruf</h1>
    <p>
      <strong>Wie finde ich die Katastrophen-Leuchttürme?</strong><br />
      Im Bezirk Tempelhof-Schöneberg sind die Katastrophen-Leuchttürme am
      Rathaus Schöneberg, Rathaus Tempelhof und am Gemeinschaftshaus Lichtenrade
      vorgesehen. Diese Standorte sollen durch Kennzeichnung an den Gebäuden,
      ggf. durch die Veröffentlichung einer Pressemitteilung und durch
      Bekanntgabe auf der Internetseite des Bezirks der Bevölkerung im Vorfeld
      bekanntgegeben werden.
      <br /><br />
      <strong
        >Wie lange bleiben die Leuchttürme bei einem blackout online?</strong
      >
      <br />
      Die beiden Rathäuser sind mit fest installierten Notstromaggregaten
      ausgestattet, das Rathaus Schöneberg mit einer Laufzeit von 55 Stunden und
      das Rathaus Tempelhof mit einer Laufzeit von 120 Stunden. Für das
      Gemeinschaftshaus Lichtenrade wurde im Rahmen der Beschaffung der
      Ausstattung für die Katastrophen-Leuchttürme seitens der Senatsverwaltung
      für Inneres, Digitalisierung und Sport ein mobiles Notstromaggregat
      beschafft, das eine Laufzeit von 12 Stunden mit einer Tankfüllung erzielen
      kann.
      <br /><br />
      <strong
        >Was sollte ich tun, um mich bei einem blackout möglichst lange zu
        versorgen?</strong
      >
      <br />
      Kühlschränke und Kühltruhen zulassen. Ab dem dritten Tag alle Lebensmittel
      ausräumen, verbrauchen oder entsorgen. Dann die Kühlschranktür offenstehen
      lassen, sonst muss auch das Kühlgerät entsorgt werden.
      <br />
      Solange Wasser noch aus den Leitungen kommt, diese in Gefäßen umfüllen.
    </p>
    <br />
    <div class="flex flex-col gap-4">
      <a href="/emergency">Hier Notruf Absetzen →</a>
      <a href="/inbox">Zum Notruf Ticker →</a>
    </div>
  </div>
</main>
{% endblock %}
