{% extends 'base.html' %} {% block title %}Notruf absetzen{% endblock %} {%
block content %}
<main
  class="flex min-h-screen flex-col items-center justify-between p-4 sm:p-24 font-mono"
>
  <div
    class="z-10 w-full max-w-3xl items-center justify-start text-sm flex flex-col gap-4"
  >
    <!-- Still unsure how to implement confirmation, some options listed here https://devsheet.com/htmx-send-post-request-form-submit/ -->
    <form
      class="w-full flex flex-col items-center"
      hx-post="/messages"
      hx-swap="outerHTML"
      hx-trigger="submit"
    >
      <div class="grid w-full max-w-sm items-center gap-1.5 mt-6">
        <h1 class="text-xl self-left">Kiezbox Notruf</h1>
        <p class="mb-8">Fülle die Form aus um einen Notruf abzusetzen</p>
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="name"
        >
          <strong>Name</strong>
        </label>
        <input
          type="text"
          class="flex h-10 w-full rounded-md border border-input bg-transparent px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          name="name"
          placeholder="Wer bist du?"
        />
      </div>
      <div class="grid w-full max-w-sm items-center gap-1.5 mt-6">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="address"
        >
          <strong>Adresse</strong>
        </label>
        <input
          type="text"
          class="flex h-10 w-full rounded-md border border-input bg-transparent px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          name="address"
          placeholder="Wo befindest du dich gerade?"
        />
      </div>
      <div class="grid w-full max-w-sm items-center gap-1.5 mt-6">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="problem"
        >
          <strong>Was ist passiert?</strong>
        </label>
        <input
          type="text"
          class="flex h-10 w-full rounded-md border border-input bg-transparent px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          name="problem"
          placeholder="Beschreibe die Art des Notfalls"
        />
      </div>
      <div class="grid w-full max-w-sm items-center gap-1.5 mt-6">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="number_affected_ppl"
        >
          <strong>Wie viele Personen sind betroffen?</strong>
        </label>
        <input
          type="number"
          class="flex h-10 w-full rounded-md border border-input bg-transparent px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          name="number_affected_ppl"
          placeholder=""
        />
      </div>
      <button
        class="inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none ring-offset-background bg-primary text-primary-foreground hover:bg-primary/90 h-10 py-2 px-4 mt-4 w-full max-w-sm"
        type="submit"
      >
        Notruf abschicken
      </button>
    </form>
  </div>
  <a class="pt-16" href="/">← Zurück</a>
</main>
{% endblock %}
