{% extends 'base.html' %} {% block title %}Inbox{% endblock %} {% block content
%}
<main
  class="flex min-h-screen flex-col items-center justify-between p-4 sm:p-24 font-mono"
>
  <div class="z-10 w-full max-w-3xl justify-start text-sm flex flex-col gap-4">
    <h1 class="text-xl self-left">Notruf Ticker</h1>
    <div hx-ext="sse" sse-connect="/inbox/stream" sse-swap="message">
      Noch keine Notrufe vorhanden
    </div>
  </div>
  <a class="pt-16" href="/">← Zurück</a>
</main>
{% endblock %}
